In [1]:
import pandas as pd
import numpy as np

In [2]:
string1 = "12:2,144:3,444:5,13:1,19:4,"

In [6]:
split1 = string1.split(",")[:5]
split1

['12:2', '144:3', '444:5', '13:1', '19:4']

In [12]:
list1 = [[int(x) for x in split1[i].split(":")] for i in range(5)]
list1

[[12, 2], [144, 3], [444, 5], [13, 1], [19, 4]]

In [14]:
pd.DataFrame(list1,columns=["movie_id","rating"])

   movie_id  rating
0        12       2
1       144       3
2       444       5
3        13       1
4        19       4

In [15]:
def string_to_df(string,columns=["movie_id","rating"]):
    li = [[int(x) for x in string.split(",")[:5][i].split(":")] for i in range(5)]
    return pd.DataFrame(li, columns=columns)

In [20]:
string_to_df("-1:5,3:6,6:6,1231:-33,1:1,")

   movie_id  rating
0        -1       5
1         3       6
2         6       6
3      1231     -33
4         1       1

In [21]:
string_to_df("259:1,87:3,38:1,127:3,1978:1,")

   movie_id  rating
0       259       1
1        87       3
2        38       1
3       127       3
4      1978       1

In [ ]:
# Sample Flask code:
@app.route("/predict/<string>")
def get_movies(string):
    user_df = string_to_df(string)
    
    #
    # Do whatever ML stuff with the df here
    # 
    
    # return top_5_movies_or_whatever
    #    (Maybe a jsonify'd list?)